.App {
  margin: 0 auto;
  padding-top: 3em;
  max-width: 90%;
}

.String {
  font-size: 1.6em;
  width: 100%;
}

.Bytes .pending {
  color: #DDD;
  margin-left: 0.4em;
}

.ByteTable {
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
}

.ByteTable td {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.ByteTable td:hover {
  background-color: yellow;
}

.ByteTable td.forbidden,
.ByteTable td.forbidden:hover {
  cursor: default;
  background-color: pink;
  color: lightcoral;
}